{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Редактирование профиля</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Имя пользователя</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="id_first_name">Имя</label>
            {{ form.first_name }}
        </div>
        <div class="form-group">
            <label for="id_last_name">Фамилия</label>
            {{ form.last_name }}
        </div>
        <div class="form-group">
            <label for="id_email">Электронная почта</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="id_password1">Пароль</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="id_password2">Подтверждение пароля</label>
            {{ form.password2 }}
        </div>
        <div class="form-group">
            <label for="id_is_premium">Премиум пользователь</label>
            {{ form.is_premium }}
        </div>
        <div class="form-group">
            <label for="id_is_moderator">Модератор</label>
            {{ form.is_moderator }}
        </div>

        <button type="submit" class="btn btn-success">Сохранить изменения</button>
        <a href="{% url 'profile' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
